<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed" >
  <div class="card">
    <div class="header">
      <div class="avatar">
        <img src="https://avatarfiles.alphacoders.com/184/184206.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="user-meta ion-text-center">
      <h3 class="name">Calvin Andersen</h3>
      <h5 class="nim">00000020073 - C</h5>
      <h6 class="helper">Teman - temanku : 
        <ion-chip>
          <ion-label>Miguel</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>Alvin J</ion-label>
        </ion-chip>
      </h6>
      <!-- <h6 class="helper">Library yang digunakan : 
        <ion-chip>
          <ion-label>Belum ada</ion-label>
        </ion-chip>
      </h6> -->
    </div>
  </div>
</ion-content>
